body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f8ff;
  margin: 0;
  padding: 0;
}

h2 {
  color: #ff4500;
}

input {
  padding: 8px;
  margin: 10px;
}

button {
  padding: 10px 20px;
  background-color: #4682b4;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #5a9bd3;
}

img {
  margin: 20px 0;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.storage-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  align-items: center;
  margin: 20px auto auto auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px 20px;
}

.storage-box * {
  margin: 0px;
}

.storage-box img {
  border: none;
}
