body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f8ff;
  margin: 0;
  padding: 0;
}

h2 {
  color: #ff4500;
}

nav {
  background-color: #4682b4;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  color: #ff4500;
}

input {
  padding: 8px;
  margin: 10px;
}

button {
  padding: 10px 20px;
  background-color: #4682b4;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #5a9bd3;
}

img {
  margin: 20px 0;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.storage-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  align-items: center;
  margin: 20px auto auto auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px 20px;
}

.storage-box * {
  margin: 0px;
}

.storage-box img {
  border: none;
}

.storage-box-link {
  text-decoration: none;
}

#storage-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.stats-box {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px 20px;
  width: fit-content;
  margin: 20px auto;
  text-align: left;
}

.stats-box h2 {
  text-align: center;
}
